.interfaceButton
{
    -fx-background-color: #a2a8d3; /*kolor tła*/
    -fx-font-size: 20px;  /*rozmiar czcionki*/
    -fx-pref-width: 200px;
    -fx-pref-height: 75px;   /*rozmiary przycisku*/
    -fx-text-fill: green;  /*kolor czcionki*/
    -fx-text-align: center;  /*wyrównanie czcionki*/
    -fx-border-color: #385170; /* kolor obwódki */
    -fx-border-width: 3px; /*szerokosc obwódki*/
}
.interfaceButton:hover { /*  efekt podświetlenia przy najechanie :hover*/
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 5, 0.5, 0, 0); /* Efekt cienia */
}



